@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.StopsListWrapper {
  position: relative;
  width: 100%;

  .Controls {
    margin-top: mixins.rem(5);
    padding-top: mixins.rem(15);
    border-top: 1px solid var(--border-dark);

    .StopNameInput {
      width: 100%;
      font-size: mixins.rem(18);
      color: var(--background-light);
      border-radius: mixins.rem(10);
      border: 1px solid var(--border-dark);
      background-color: var(--primary-dark);
      padding: mixins.rem(10) mixins.rem(10);
      margin-bottom: mixins.rem(5);

      &:focus {
        outline: 2px solid var(--button-blue-hover);
        outline-offset: -(mixins.rem(2));
      }

      &::placeholder {
        font-weight: bold;
        opacity: 1;
        color: var(--neutral-gray);
        font-size: mixins.rem(14);
      }

    }
  }
}

.StopsList {
  list-style-type: none;
  padding: 0;

  .Item {
    padding-bottom: mixins.rem(5);
  }
}