@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.StopsListWrapper {
  position: relative;
  width: 100%;

  .Controls {
    margin-top: mixins.rem(5);
    padding-top: mixins.rem(10);
    border-top: 1px solid #4b4c5e;

    .StopNameInput {
      width: 100%;
      font-size: mixins.rem(18);
      color: #fffef8;
      border-radius: mixins.rem(10);
      border: 1px solid #4b4c5e;
      background-color: #3A3C56;
      padding: mixins.rem(10) mixins.rem(10);
      margin-bottom: mixins.rem(5);

      &:focus {
        outline: 2px solid #1f79aa;
        outline-offset: -(mixins.rem(2));
      }

      &::placeholder {
        font-weight: bold;
        opacity: 1;
        color: #858699;
        font-size: mixins.rem(14);
      }

    }
  }
}

.StopsList {
  list-style-type: none;
  padding: 0;

  .Item {
    padding-bottom: mixins.rem(5);
  }
}