@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.StopsListWrapper {
  position: relative;
  width: 100%;

  .Controls {
    margin-top: mixins.rem(5);
  }
}

.StopsList {
  list-style-type: none;
  padding: 0;

  .Item {
    padding-bottom: mixins.rem(5);
  }
}