.UserBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .UserLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
}