.ButtonGroupBlock {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px;
  gap: 12px;
}

.ButtonsGroup {
  display: flex;
  gap: 10px;
}

.Button {
  cursor: pointer;
  outline: none;
  color: #fffef8;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #28293E;
  border-radius: 8px 8px 8px 0;
  padding: 12px 20px;
  display: block;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.30);

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }

  &.Active {
    background-color: #EF6D58;
    color: #fffef8;
    border: 1px solid #EF6D58;
  }
}

.GroupCaption {
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.25;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;

  strong {
    font-weight: bold;
  }
}