.buttonGroupBlock {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px 0;
  gap: 12px;
}

.buttonsGroup {
  display: flex;
  gap: 10px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #fffef8;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: rgb(4, 116, 196);
  border-radius: 4px;
  padding: 12px 20px;
  display: block;
  transition: all 0.1s ease-in-out;
}

.button:active {
  transform: scale(1.1);
}

.button.active {
  background-color: #fbd914;
  color: #0058a3;
}

.groupCaption {
  text-align: left;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.25;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;

  strong {
    font-weight: bold;
  }
}