@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.ButtonGroupBlock {
  display: flex;
  flex-direction: column;
  margin: 0 0 mixins.rem(25);
  gap: mixins.rem(15);
}

.ButtonsGroup {
  display: flex;
  gap: mixins.rem(10);
  visibility: hidden;

  &:hover > :not(:hover) {
    opacity: 0.5;
  }
}
