@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.Direction {
  width: 50%;

  > button {
    width: 100%;
    text-transform: capitalize;
  }

  .DirectionTitle {
    font-size: mixins.rem(18);
    border-radius: mixins.rem(10);
    background-color: #3A3C56;
    padding: mixins.rem(8) mixins.rem(12);
    text-transform: capitalize;
    margin-bottom: mixins.rem(10);
  }
}



