@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.EntityControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(3);
  visibility: hidden;

  &:hover > :not(:hover) {
    opacity: 0.5;
  }

  .ControlButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--entity-action-control-shadow);
    border-radius: mixins.rem(6);
    padding: mixins.rem(4);
    border: none;
    outline: none;
    transition: all .2s ease;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    opacity: 1;

    svg {
      stroke: var(--entity-action-control-color);
    }

    &.Edit {
      background-color: var(--entity-action-control-edit);
    }

    &.Publish {
      background-color: var(--entity-action-control-publish);
    }

    &.Unpublish {
      background-color: var(--entity-action-control-unpublish);
    }

    &.Delete {
      background-color: var(--entity-action-control-delete);
    }

    &.Disabled {
      background-color: var(--entity-action-control-disabled);

      svg {
        opacity: 0.5;
      }
    }
  }
}