{
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs" : true,
  "semi": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@core/(.*)$",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@/ui/(.*)$",
    "^@/providers/(.*)$",
    "^@/shared/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^../(.*)$",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
