{
  "extends": "stylelint-config-standard-scss",
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": [
      "^[A-Z][a-zA-Z0-9]+$|^[a-z][a-z0-9-]+$",
      {
        "message": "Class names should follow PascalCase or kebab-case."
      }
    ],
    "media-feature-range-notation": "prefix"
  }
}
