@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.WantToShare {
  margin: mixins.rem(40) auto mixins.rem(25) auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .WantToShareInnerWrapper {
    width: mixins.rem(256);
    height: mixins.rem(256);
    padding: mixins.rem(20);
    background-color: white;
    border-radius: mixins.rem(20);
    box-shadow: 0 mixins.rem(2) mixins.rem(4) rgb(0 0 0 / 10%);
    border: 1px solid rgb(255 255 255 / 30%);

    > div {
      display: flex;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
