@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.TimeListFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: mixins.rem(10);
  margin-bottom: mixins.rem(12);

  svg {
    width: mixins.rem(24);
    height: mixins.rem(24);
  }

  .Items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: mixins.rem(10);
    visibility: hidden;

    &:hover > :not(:hover) {
      opacity: 0.5;
    }
  }

  .Item {
    display: flex;
    visibility: visible;
    transition: all .2s ease;
  }

  .Button {
    @include button-style;

    font-size: 1rem;
    font-weight: 400;
    min-height: mixins.rem(32);

    .Caption {
      font-weight: 400;
    }

    &.Active {
      background-color: #1f79aa;
      color: #fffef8;
      border: 1px solid #1f79aa;

      .Caption {
        font-weight: 400;
      }
    }
  }
}