@use '@/styles/mixins' as mixins;

.TimeListFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: mixins.rem(10);
  margin-bottom: mixins.rem(12);

  svg {
    width: mixins.rem(24);
    height: mixins.rem(24);
  }

  .Items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: mixins.rem(10);
    visibility: hidden;

    &:hover > :not(:hover) {
      opacity: 0.5;
    }
  }

  .Item {
    display: flex;
    visibility: visible;
    transition: all .2s ease;
  }

  .Button {
    position: relative;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background-color: #28293E;
    border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
    padding: mixins.rem(5) mixins.rem(20);
    min-height: mixins.rem(32);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 mixins.rem(2) mixins.rem(4) rgb(0 0 0 / 10%);
    border: 1px solid rgb(255 255 255 / 30%);

    .Caption {
      font-weight: 400;
    }

    &:focus-visible {
      outline: #{mixins.rem(2)} solid #EF6D58;
      outline-offset: mixins.rem(2);
      border-radius: mixins.rem(8) mixins.rem(8) mixins.rem(8) 0;
    }

    &:hover {
      transform: translateY(-(mixins.rem(2)));
    }

    &:active {
      transform: translateY(mixins.rem(1));
    }

    &.Active {
      background-color: #1f79aa;
      color: #fffef8;
      border: 1px solid #1f79aa;

      .Caption {
        font-weight: 400;
      }
    }
  }
}