.Button {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5eace1;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  span {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  :focus-visible {
    outline: 2px solid black;
  }
}