@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.TimeListFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: mixins.rem(15);
  margin-bottom: mixins.rem(16);

  svg {
    width: mixins.rem(24);
    height: mixins.rem(24);
  }

  .Items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: mixins.rem(10);
    visibility: hidden;

    @media (hover: hover) {
      &:hover > :not(:hover) {
        opacity: 0.5;
      }
    }
  }

  .Item {
    display: flex;
    visibility: visible;
    transition: all .2s ease;
  }
}