@use '@/styles/mixins' as mixins;

@keyframes bus-bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-(mixins.rem(1)));
  }
}

@keyframes wheel-bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(mixins.rem(1));
  }
}

.BusContainer {
  margin: mixins.rem(25) auto;
  position: relative;
  width: mixins.rem(118);
  height: mixins.rem(88);
  display: flex;
  align-items: flex-end;
}

.Bus {
  width: mixins.rem(118);
  height: mixins.rem(88);
  position: absolute;
  animation: bus-bounce 500ms infinite ease-in-out;

  svg path {
    fill: var(--departure-upcoming-later);
  }
}

.Wheels {
  width: mixins.rem(118);
  height: mixins.rem(88);
  position: absolute;
  animation: wheel-bounce 500ms infinite ease-in-out;

  svg path {
    fill: var(--departure-upcoming-later);
  }
}