
@keyframes bus-bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1px);
  }
}

@keyframes wheel-bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1px);
  }
}

.BusContainer {
  margin: 25px auto;
  position: relative;
  width: 118px;
  height: 88px;
  display: flex;
  align-items: flex-end;
}

.Bus {
  width: 118px;
  height: 88px;
  position: absolute;
  animation: bus-bounce 500ms infinite ease-in-out;

  svg path {
    fill: #1f79aa;
  }
}

.Wheels {
  width: 118px;
  height: 88px;
  position: absolute;
  animation: wheel-bounce 500ms infinite ease-in-out;

  svg path {
    fill: #1f79aa;
  }
}