@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.StopProperties {
  font-size: mixins.rem(18);
  line-height: mixins.rem(22);
  color: #fff;
  background-color: #31324C;
  border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
  border: 1px solid #3A3C56;
  box-shadow: 0 mixins.rem(2) mixins.rem(4) rgb(0 0 0 / 10%);
  position: relative;
  padding: mixins.rem(20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: mixins.rem(12);
  height: 100%;

  .StopPropertiesTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: mixins.rem(24);
    }
  }

  .InternalName {
    font-size: mixins.rem(14);
    color: #858699;
    border-radius: mixins.rem(10);
    border: 1px solid #4b4c5e;
    background-color: #3A3C56;
    padding: mixins.rem(3) mixins.rem(10);
  }

  .LastUpdate {
    color: #858699;
    font-size: mixins.rem(14);
  }

  .Directions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: mixins.rem(15);
  }
}