@use '@/styles/mixins' as mixins;

.UnorderedList {
  list-style: none;
}

.ListItem {
  margin: mixins.rem(4) 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: "";
    position: relative;
    display: inline-block;
    width: mixins.rem(8);
    height: mixins.rem(8);
    margin-right: mixins.rem(8);
    background-color: var(--button-blue-hover);
    border-radius: 50%;
  }
}