@use '@/styles/mixins' as mixins;
@use '@/styles/shared';

.ToastContainer {
  position: fixed;
  bottom: mixins.rem(25);
  right: mixins.rem(25);
  width: mixins.rem(320);
}

.ToastItem {
  width: 100%;
  font-size: mixins.rem(16);
  margin: mixins.rem(15) auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(15);
  background-color: var(--toast-default-background-color);
  color: var(--toast-default-color);
  padding: mixins.rem(10) mixins.rem(15);
  border-radius: mixins.rem(15) 0 mixins.rem(10) mixins.rem(10);
  border: 1px solid var(--toast-border-color);
  box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--toast-shadow-color);

  &.Success {
    background-color: var(--toast-success-background-color);
    color: var(--toast-success-color);
  }

  &.Error {
    background-color: var(--toast-error-background-color);
    color: var(--toast-error-color);
  }

  &.Info {
    background-color: var(--toast-info-background-color);
    color: var(--toast-info-color);
  }
}