@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.ToastContainer {
  position: fixed;
  bottom: mixins.rem(25);
  right: mixins.rem(25);
  width: mixins.rem(320);
}

.ToastItem {
  width: 100%;
  font-size: mixins.rem(16);
  margin: mixins.rem(15) auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(15);
  background-color: var(--background-light);
  color: var(--dark-blue);
  padding: mixins.rem(10) mixins.rem(15);
  border-radius: mixins.rem(15) 0 mixins.rem(10) mixins.rem(10);
  border: 1px solid var(--highlight-light);
  box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--shadow-light);

  &.Success {
    background-color: var(--success-dark-green);
    color: var(--background-light);
  }

  &.Error {
    background-color: var(--warning-red);
    color: var(--background-light);
  }

  &.Info {
    background-color: var(--departure-upcoming-later);
    color: var(--background-light);
  }
}