@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.RippleEffectWrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;

  .RippleEffect {
    position: absolute;
    border-radius: 50%;
    background: var(--schedule-board-button-ripple);
    transform: scale(0);
    animation: ripple-animation 0.8s linear;
    z-index: 0;
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.Button {
  position: relative;
  cursor: pointer;
  outline: none;
  color: var(--schedule-board-button-color);
  background-color: var(--schedule-board-button-background-color);
  border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
  border: 1px solid var(--schedule-board-button-border-color);
  box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--schedule-board-button-shadow);
  transition: background-color .2s ease, transform .2s ease, opacity .2s ease;
  visibility: visible;
  padding: mixins.rem(10) mixins.rem(20);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-size: 1.125rem;
  font-weight: 400;
  min-height: mixins.rem(50);
  user-select: none;

  &:focus-visible {
    outline: #{mixins.rem(2)} solid var(--schedule-board-button-focus-visible);
    outline-offset: mixins.rem(2);
    border-radius: mixins.rem(8) mixins.rem(8) mixins.rem(8) 0;
  }

  &:hover {
    transform: translateY(-#{mixins.rem(2)});
  }

  &:active {
    transform: translateY(mixins.rem(1));
  }

  &.Small {
    min-height: mixins.rem(30);
  }

  &.Medium {
    min-height: mixins.rem(50);
  }

  &.Large {
    min-height: mixins.rem(70);
  }

  svg {
    width: mixins.rem(24);
    height: mixins.rem(24);
  }

  .Favorite {
    transform: translate(0.5rem, 0.12rem);

    svg {
      fill: var(--error-dark);
      stroke: var(--overlay-muted-light);
    }
  }

  .Caption {
    white-space: nowrap;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .BaselineContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &.Active {
    background-color: var(--schedule-board-button-active-background-color);
    color: var(--schedule-board-button-active-color);
    border: 1px solid var(--schedule-board-button-active-border-color);

    .Caption {
      font-weight: 700;
    }
  }

  .SpaceHolder {
    opacity: 0;
  }
}
