@use '../../../styles/mixins' as mixins;
@import '../../../styles/shared';

.RippleEffectWrapper {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;

  .RippleEffect {
    position: absolute;
    border-radius: 50%;
    background: rgb(255 255 255 / 10%);
    transform: scale(0);
    animation: ripple-animation 0.8s linear;
    z-index: 0;
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.EditorButton {
  @include button-style-basic;
  @include button-style;

  padding: 0 mixins.rem(25);
  font-size: mixins.rem(18);
  font-weight: 400;
  min-height: mixins.rem(40);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: mixins.rem(16);
}