@use '@/styles/mixins' as mixins;

.PageTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: mixins.rem(15);
  margin-bottom: mixins.rem(20);

  h1 {
    color: var(--title-color);
    font-size: mixins.rem(32);
    font-weight: normal;
    line-height: mixins.rem(40);
    margin: 0;
    padding: 0;
    border-bottom: 3px solid var(--title-border-color);
  }

  h2 {
    font-size: mixins.rem(28);
    font-weight: normal;
    line-height: mixins.rem(32);
    margin: 0;
    padding: 0;
  }

  .TrolleybusIcon {
    width: mixins.rem(28);
    height: mixins.rem(40);

    path {
      fill: var(--title-icon-color);
    }
  }
}