@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.StopCard {
  cursor: grab;
  color: var(--stop-list-card-color);
  background-color: var(--stop-list-card-background-color);
  border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
  border: 1px solid var(--stop-list-card-border-color);
  box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--shadow-light);
  position: relative;
  padding: mixins.rem(15) mixins.rem(20);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(8);
  transition: background-color 0.3s ease;

  .Icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
      stroke: var(--stop-list-card-icon-color);
    }
  }

  &.Unpublished {
    color: var(--stop-list-card-unpublished-color);
    background-color: var(--stop-list-card-unpublished-background-color);
    border: 1px solid var(--stop-list-card-unpublished-border-color);

    .Icon {
      svg {
        stroke: var(--stop-list-card-unpublished-icon-color);
      }
    }
  }

  &.Selected {
    color: var(--stop-list-card-selected-color);
    background-color: var(--stop-list-card-selected-background-color);
    border: 1px solid var(--stop-list-card-selected-border-color);

    .Icon {
      svg {
        stroke:var(--stop-list-card-selected-icon-color);
      }
    }
  }

  .Information {
    font-size: mixins.rem(18);
    line-height: mixins.rem(21);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: mixins.rem(8);
    min-width: 0;
    max-width: 100%;
    width: 100%;

    h3 {
      cursor: inherit;
      font-size: mixins.rem(18);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: mixins.rem(10);

      > span {
        display: inline-flex;
      }
    }
  }
}