@use '@/styles/mixins' as mixins;
@use '@/styles/shared';

.LoginForm {
  margin: 0 auto;
  max-width: 400px;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: mixins.rem(20);
  }

  .FormGroup {
    margin-bottom: mixins.rem(20);

    label {
      display: block;
      margin-bottom: mixins.rem(10);
      font-size: mixins.rem(16);
    }

    input {
      width: 100%;
      padding: mixins.rem(10);
      background-color: var(--login-form-background-color);
      border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
      border: 1px solid var(--login-form-input-border-color);
      font-size: mixins.rem(16);
      color: var(--login-form-input-color);

      &:focus-visible {
        outline: #{mixins.rem(2)} solid var(--login-form-input-focus-border-color);
        outline-offset: mixins.rem(2);
        border-radius: mixins.rem(8) mixins.rem(8) mixins.rem(8) 0;
      }

      &.Error {
        border-color:var(--login-form-input-error-border-color);
      }
    }

    .ErrorMessage {
      color: var(--login-form-input-error-border-color);
      margin-top: mixins.rem(10);
    }
  }

  .Button {
    padding: mixins.rem(10) mixins.rem(20);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    outline: none;
    border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
    box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--login-form-button-shadow-color);
    transition: background-color .2s ease, transform .2s ease, opacity .2s ease;
    background-color: var(--login-form-button-background-color);
    color: var(--login-form-button-color);
    border: none;
    cursor: pointer;
    font-size: mixins.rem(16);

    &:focus-visible {
      outline: #{mixins.rem(2)} solid var(--login-form-button-focus-visible-color);
      outline-offset: mixins.rem(2);
      border-radius: mixins.rem(8) mixins.rem(8) mixins.rem(8) 0;
    }

    &:hover {
      transform: translateY(-#{mixins.rem(2)});
    }

    &:active {
      transform: translateY(mixins.rem(1));
    }

    &.Submitting {
      opacity: 0.75;
      cursor: not-allowed;
    }
  }

  .ButtonTransparent {
    background: none;
    border: none;
    color: var(--login-form-transparent-button);
    text-decoration: underline;
    cursor: pointer;
    font-size: mixins.rem(16);
    font-weight: 700;
  }

  .DontHave {
    text-align: center;
    margin-top: mixins.rem(20);
  }

  .Success {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: mixins.rem(12);

    svg {
      stroke: var(--login-form-success-color);
    }

    span {
      color: var(--login-form-success-color);
      font-size: mixins.rem(16);
      font-weight: 700;
    }
  }
}