@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.LoginForm {
  margin: 0 auto;
  max-width: 400px;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: mixins.rem(20);
  }

  .FormGroup {
    margin-bottom: mixins.rem(20);

    label {
      display: block;
      margin-bottom: mixins.rem(10);
      font-size: mixins.rem(16);
    }

    input {
      width: 100%;
      padding: mixins.rem(10);
      background-color: #28293E;
      border-radius: mixins.rem(15) mixins.rem(10) mixins.rem(10) 0;
      border: 1px solid rgb(255 255 255 / 30%);
      font-size: mixins.rem(16);
      color: #fff;

      &:focus-visible {
        outline: #{mixins.rem(2)} solid #1f79aa;
        outline-offset: mixins.rem(2);
        border-radius: mixins.rem(8) mixins.rem(8) mixins.rem(8) 0;
      }

      &.Error {
        border-color: #EF6D58;
      }
    }
  }

  .ErrorMessage {
    color: #EF6D58;
    margin-top: mixins.rem(10);
    margin-bottom: mixins.rem(10);
  }

  .Button {
    @include button-style-basic;
    @include button-style;

    width: 100%;
    background-color: #1f79aa;
    color: #fffef8;
    border: none;
    cursor: pointer;
    font-size: mixins.rem(16);

    &.Submitting {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .ButtonTransparent {
    background: none;
    border: none;
    color: #1183ff;
    text-decoration: underline;
    cursor: pointer;
    font-size: mixins.rem(16);
    font-weight: 700;
  }

  .DontHave {
    text-align: center;
    margin-top: mixins.rem(20);
  }
}
