@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.WeekBox {
  font-size: mixins.rem(18);
  margin-bottom: mixins.rem(10);
  border-top: 1px solid #4b4c5e;
  padding-top: mixins.rem(10);

  .WeekBoxTitle {
    font-size: mixins.rem(18);
    border-radius: mixins.rem(10);
    background-color: #3A3C56;
    padding: mixins.rem(8) mixins.rem(12);
    text-transform: capitalize;
    margin-bottom: mixins.rem(10);
  }

  .Time {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: mixins.rem(10);
    margin: 0 0 mixins.rem(10) 0;
    border-radius: mixins.rem(6);
    width: 100%;
    font-size: mixins.rem(22);
    color: #fff;
    background-color: #8e3d6a;
    user-select: none;
    transition: all .2s ease;
    box-shadow: 0 mixins.rem(2) mixins.rem(4) rgb(0 0 0 / 10%);
    container-type: inline-size;

    @container (max-width: 175px) {
      flex-direction: column;
      align-items: flex-start;
      gap: mixins.rem(8);
      padding: mixins.rem(12);
    }

    &.Unpublished {
      background-color: #3A3C56;
    }
  }

  .AddTime {
    width: 100%;
  }
}