@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-overlay);
  z-index: 1000;
}

.ModalContent {
  max-width: 400px;
  width: 90%;
  padding: mixins.rem(25);
  color: var(--white);
  background-color: var(--background-color);
  border-radius: mixins.rem(25) mixins.rem(25) mixins.rem(25) 0;
  border: 1px solid var(--highlight-light);
  box-shadow: mixins.rem(5) mixins.rem(5) mixins.rem(5) var(--shadow-light);
}