.page {
  font-family: var(--font-dniproCity-regular), sans-serif;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 412px;
  padding: 2rem 0;
}

.footer {

}

@keyframes busBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}

@keyframes wheelBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
}

.busContainer {
  margin: 25px auto;
  position: relative;
  width: 118px;
  height: 88px;
  display: flex;
  align-items: flex-end;
}

.bus {
  width: 118px;
  height: 88px;
  position: absolute;
  animation: busBounce 500ms infinite ease-in-out;
}

.wheels {
  width: 118px;
  height: 88px;
  position: absolute;
  animation: wheelBounce 500ms infinite ease-in-out;
}