.Main {
  width: 100%;
}

.Note {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
  background-color: #32334C;
  border-radius: 10px;
  border: 1px solid #3A3C56;
  color: #fffef8;
  padding: 15px;
}