@mixin light-theme {
  /* General */
  --background-color: #f7f8fc;
  --background-dark-color: #f7f8fc;
  --text-color: #1F2030;
}

@mixin dark-theme {
  /* General */
  --background-color: #28293E;
  --background-dark-color: #28293E;
  --text-color: rgb(255 255 255 / 87%);
  --overlay-muted: rgb(255 255 255 / 15%);

  /* Page Title */
  --title-color: #fff;
  --title-icon-color: #424463;
  --title-border-color: #424463;

  /* Theme Switcher */
  --theme-switcher-wrapper-background-color: #31324C;
  --theme-switcher-wrapper-border-color: #28293E;
  --theme-switcher-active-border-color: #fff;
  --theme-switcher-light-color: #1D1D1D;
  --theme-switcher-light-background-color: #F7CC47;
  --theme-switcher-dark-color: #F7CC47;
  --theme-switcher-dark-background-color: #424463;
  --theme-switcher-auto-color: #FFFEF8;
  --theme-switcher-auto-background-color: #0D7DB9;

  /* Header */
  --header-logo-color: #1f79aa;
  --header-text-color: #fffef8;
  --header-text-selected-color: #F7CC47;
  --header-text-selected-border-color: #31324C;
  --header-text-selected-background-color: #424463;

  /* Schedule Board */
  --schedule-board-left-border: #1F79AA;
  --schedule-board-text-color: #FFF;
  --schedule-board-background-color: #32334C;
  --schedule-board-border-color: #424463;
  --schedule-board-button-focus-visible: #EF6D58;
  --schedule-board-button-ripple: rgb(255 255 255 / 15%);
  --schedule-board-button-shadow: rgb(0 0 0 / 10%);
  --schedule-board-button-color: #FFF;
  --schedule-board-button-background-color: #32334C;
  --schedule-board-button-border-color: rgb(255 255 255 / 30%);
  --schedule-board-button-active-color: #FFF;
  --schedule-board-button-active-background-color: #1F79AA;
  --schedule-board-button-active-border-color: #1F79AA;
  --schedule-board-departure-past-color: #FFF;
  --schedule-board-departure-past-background-color: #424463;
  --schedule-board-departure-very-soon-color: #FFF;
  --schedule-board-departure-very-soon-background-color: #EF6C57;
  --schedule-board-departure-soon-color: #1c1d2b;
  --schedule-board-departure-soon-background-color: #F7CC47;
  --schedule-board-departure-upcoming-color: #FFF;
  --schedule-board-departure-upcoming-background-color: #398378;
  --schedule-board-departure-upcoming-later-color: #FFF;
  --schedule-board-departure-upcoming-later-background-color: #1F79AA;
  --schedule-board-departure-cancelled-color: #FFF;
  --schedule-board-departure-cancelled-background-color: #32334C;

  /* Note */
  --note-background-color: #32334C;
  --note-border-color: #424463;
  --note-text-color: #FFF;
  --note-alert-background-color: #4C3232;
  --note-alert-border-color: #85372B;
  --note-alert-text-color: #FFF;
  --note-attention-background-color: #1F79AA;
  --note-attention-border-color: #0d4f73;
  --note-attention-text-color: #fff;

  /* Entity Action Controls */
  --entity-action-control-color: #FFF;
  --entity-action-control-edit: rgb(25 108 153 / 88%);
  --entity-action-control-publish: rgb(0 255 42 / 30%);
  --entity-action-control-unpublish: rgb(255 255 255 / 30%);
  --entity-action-control-delete: rgb(225 15 15 / 75%);
  --entity-action-control-disabled: #55566A;
  --entity-action-control-shadow: rgb(0 0 0 / 8%);

  /* Admin Stops List */

  /* Admin Stops List - Card */
  --stop-list-card-border-color: #4B4C5EFF;
  --stop-list-card-color: #fff;
  --stop-list-card-background-color: #424463;
  --stop-list-card-icon-color: #858699;
  --stop-list-card-selected-border-color: #1F79AA;
  --stop-list-card-selected-color: #fff;
  --stop-list-card-selected-background-color: #1F79AA;
  --stop-list-card-selected-icon-color: #fff;
  --stop-list-card-unpublished-border-color: #4B4C5EFF;
  --stop-list-card-unpublished-color: #fff;
  --stop-list-card-unpublished-background-color: #31324C;
  --stop-list-card-unpublished-icon-color: #858699;



  /* to review */
  --primary-dark: #31324c;
  --overlay-light: rgb(255 255 255 / 10%);
  --secondary-dark: #383a5a;
  --accent-dark: #424463;
  --overlay-dark: rgb(0 0 0 / 50%);
  --border-dark: #4b4c5e;
  --secondary-gray: #55566A;
  --dark-gray: #32334C;
  --dark-blue: #1f2030;
  --overlay-extra-light: rgb(0 0 0 / 8%);
  --background-overlay: rgb(31 32 48 / 75%);
  --background-dark: #1d1d1d;
  --shadow-light: rgb(0 0 0 / 10%);
  --highlight-light: rgb(255 255 255 / 30%);
  --neutral-gray: #858699;
  --background-light: #fffef8;
  --text-muted: rgb(255 255 255 / 70%);
  --white: #fff;
  --accent-purple: #8e3d6a;
  --warning-yellow: #F7CC47;
  --button-red: #EF6D58;
  --error-dark: #ae2e19;
  --overlay-muted-light: #fffef888;
  --dark-red: #4c3232;
  --brick-red: #85372b;
  --button-blue-active: #0d7db9;
  --dark-brick: #77281a;
  --overlay-subtle: #fffef855;
  --departure-upcoming-later: #1f79aa;
  --success-dark-green: #179c41;
  --warning-red: #a85757;
}

:root {
  @include light-theme;
}

[data-theme='dark']:root {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']){
    @include dark-theme;
  }
}