@use '@/styles/mixins' as mixins;

.TimeItems {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: mixins.rem(4);
  visibility: hidden;

  @media (min-width: mixins.rem(440)) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: mixins.rem(512)) {
    grid-template-columns: repeat(7, 1fr);
  }

  @media (min-width: mixins.rem(640)) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: mixins.rem(768)) {
    grid-template-columns: repeat(9, 1fr);
  }

  &:hover > :not(:hover) {
    opacity: 0.5;
  }
}

.TimeItem {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: mixins.rem(12);
  margin: 0;
  border-radius: mixins.rem(6);
  width: 100%;
  font-size: 1.25rem;
  color: #fff;
  background-color: #0d7db9;
  user-select: none;
  transition: all .2s ease;
  box-shadow: 0 mixins.rem(2) mixins.rem(4) rgb(0 0 0 / 10%);
  visibility: visible;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 mixins.rem(5) mixins.rem(8) rgb(0 0 0 / 15%);
  }

  &.Past {
    background-color: #32334C;
  }

  &.VerySoon {
    background-color: #EF6C57;
  }

  &.Soon {
    background-color: #F7CC47;
    color: #1d1d1d;
  }

  &.Upcoming {
    background-color: #398378;
  }

  &.UpcomingLater {
    background-color: #1f79aa;
  }

  &.Cancelled {
    background-color: #32334C;
    color: #EF6C57;
  }
}