.TimeItems {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
}

.TimeItem {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  width: 68px;
  font-size: 1.25rem;
  background-color: #0d7db9;
  user-select: none;
  transition: all .2s ease;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  &.Past {
    background-color: #8c8c8c;
  }

  &.VerySoon {
    background-color: #c71010;
  }

  &.Soon {
    background-color: #e59812;
  }

  &.Upcoming {
    background-color: #069d0e;
  }

  &.UpcomingLater {
    background-color: #0d7db9;
  }
}