@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.ButtonGroupBlock {
  display: flex;
  position: relative;
  max-width: 100%;
  flex-direction: column;
  margin: 0;
  gap: mixins.rem(10);
  border-left: mixins.rem(10) solid var(--schedule-board-left-border);
  border-top: 1px solid var(--schedule-board-border);
  border-right: 1px solid var(--schedule-board-border);
  border-bottom: 1px solid var(--schedule-board-border);
  border-radius: mixins.rem(10);
  padding: mixins.rem(10) mixins.rem(5) mixins.rem(10) mixins.rem(5);
  min-height: mixins.rem(104);
  background-color: var(--schedule-board-background-color);

  .TrolleybusIcon {
    position: absolute;
    top: mixins.rem(8);
    right: mixins.rem(8);
    width: 18px;
    height: 24px;
    color: var(--schedule-board-border);
  }

  .GroupCaption {
    font-size: 1.125rem;
    margin-left: mixins.rem(10);
    color: var(--schedule-board-text-color);
    display: flex;
    flex-direction: row;
    gap: mixins.rem(8);
    justify-content: flex-start;
    align-items: center;
  }
}

.ButtonsGroup {
  display: flex;
  max-width: 100%;
  gap: mixins.rem(10);
  position: relative;
  visibility: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: mixins.rem(12);
    height: 100%;
    z-index: 100;
    visibility: visible;
  }

  &::before {
    top: 0;
    left: -1px;
    background: linear-gradient(90deg, var(--schedule-board-background-color) 0%, transparent 100%);
  }

  &::after {
    top: 0;
    right: -1px;
    background: linear-gradient(90deg, transparent 0%, var(--schedule-board-background-color) 100%);
  }

  @media (hover: hover) {
    &:hover  button:not(:hover) {
      opacity: 0.75;
    }
  }
}
