@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.Header {
  position: relative;
  width: 100%;
  padding: mixins.rem(40) 0;

  .HeaderWrapper {
    display: flex;
    gap: mixins.rem(25);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .HeaderLogo {
    display: flex;
    gap: mixins.rem(25);
    flex-direction: row;
    place-items: flex-start center;
  }

  .HeaderUser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  h1 {
    display: flex;
    gap: mixins.rem(10);

    span {
      color: #F7CC47;
      font-weight: 700;
      border: 1px solid #3A3C56;
      border-radius: mixins.rem(6);
      display: inline-block;
      padding: 0 mixins.rem(5);
    }
  }

  h2 {
    > span > span {
      color: #F7CC47;
      font-weight: 700;
      border: 1px solid #3A3C56;
      border-radius: mixins.rem(6);
      display: inline-block;
      padding: 0 mixins.rem(5);
    }
  }
}

.HeaderGeometry {
  position: absolute;
  top: 0;
  right: mixins.rem(50);
  width: mixins.rem(137);
  height: mixins.rem(60);
  z-index: -1;

  svg {
    width: 100%;
    height: 100%;
  }

  svg path {
    stroke: #1f79aa;
  }
}

.HeaderImage {
  display: flex;
  flex-direction: row;
  place-items: center center;
}

.HeaderText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: mixins.rem(5);
}
