.Header {
  position: relative;
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-items: center;
  padding: 40px 0;

  h1 {
    display: flex;
    gap: 0.5rem;

    span {
      color: #F7CC47;
      font-weight: 700;
      border: 1px solid #3A3C56;
      border-radius: 6px;
      display: inline-block;
      padding: 0 5px;
    }
  }

  h2 {
    > span > span {
      color: #F7CC47;
      font-weight: 700;
      border: 1px solid #3A3C56;
      border-radius: 6px;
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.HeaderGeometry {
  position: absolute;
  top: 0;
  left: 215px;
  width: 137px;
  height: 60px;
  z-index: -1;

  svg path {
    stroke: #1f79aa;
  }
}

.HeaderImage {
  display: flex;
  flex-direction: row;
  place-items: center center;
}

.HeaderText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
