.TabsBox {
  position: relative;
  width: 100%;

  .TabsHeader {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .TabsContent {
    position: relative;
  }
}