@use '@/styles/mixins' as mixins;
@import '@/styles/shared';

.ThemeSwitcherWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: mixins.rem(4);
  padding: mixins.rem(8);
  border: 1px solid var(--theme-switcher-wrapper-border-color);
  background-color: var(--theme-switcher-wrapper-background-color);
  border-radius: 50px;

  .Button {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: mixins.rem(32);
    height: mixins.rem(32);
    border-radius: 50%;
    cursor: pointer;
    font-size: mixins.rem(10);
    transition: all 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    &.Active {
      border: 2px solid var(--theme-switcher-active-border-color);
    }

    &.Light {
      color: var(--theme-switcher-light-color);
      background-color: var(--theme-switcher-light-background-color);
    }

    &.Dark {
      color: var(--theme-switcher-dark-color);
      background-color: var(--theme-switcher-dark-background-color);
    }

    &.Auto {
      color: var(--theme-switcher-auto-color);
      background-color: var(--theme-switcher-auto-background-color);
    }

  }
}