.timeItems {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
}

.timeItem {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0 4px 4px 0;
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 4px;
  width: 68px;
  font-size: 1.25rem;
}

.past {
  background-color: #8c8c8c;
}

.verySoon {
  background-color: #c71010;
}

.soon {
  background-color: #e59812;
}

.upcoming {
  background-color: #0d7db9;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #0058a3;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #fbd914;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 0 4px 4px 0;
}

.caption {
  text-align: left;
  margin: 12px 0;
}