@use '@/styles/mixins' as mixins;

.CaptionStartPoint {
  text-align: left;
  margin: 0 0 mixins.rem(20);
  min-height: mixins.rem(50);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: mixins.rem(15);
  justify-content: space-between;

  svg {
    width: mixins.rem(24);
    height: mixins.rem(24);
  }

  strong {
    font-weight: bold;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: mixins.rem(10);
  }
}

.ControlsBlock {
  display: flex;
  flex-direction: column;
  gap: mixins.rem(15);
  margin-bottom: mixins.rem(25);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    & .Schedule {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    & .Direction {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    & .Stops {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }



}