@font-face {
  font-family: 'DniproCity';
  src: url('./assets/fonts/dniprocity-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/dniprocity-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DniproCity';
  src: url('./assets/fonts/dniprocity-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/dniprocity-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
