.CurrentTime {
  background-color: #32334C;
  border-radius: 10px;
  border: 1px solid #3A3C56;
  color: #fffef8;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 8px 15px;
  gap: 10px;

  span {
    line-height: 1.5rem;
  }
} 