@use '@/styles/mixins' as mixins;

.NoteWrapper {
  margin: mixins.rem(25) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(15);
  background-color: var(--note-background-color);
  border-radius: mixins.rem(10);
  border: 1px solid var(--note-border-color);
  color: var(--note-text-color);
  padding: mixins.rem(15) mixins.rem(20);

  &.Alert {
    background-color: var(--note-alert-background-color);
    border-color: var(--note-alert-border-color);
    color: var(--note-alert-text-color);
  }

  &.Attention {
    background-color: var(--note-attention-background-color);
    border-color: var(--note-attention-border-color);
    color: var(--note-attention-text-color);
  }

  .Note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: mixins.rem(10);
    font-size: mixins.rem(18);
    line-height: mixins.rem(24);
    text-align: left;

    a {
      font-size: mixins.rem(18);
      line-height: mixins.rem(16);
      display: inline-block;
      padding: mixins.rem(8) mixins.rem(12) mixins.rem(6);
      text-decoration: none;
      color: var(--header-link-button-color);
      background-color: var(--header-logo-color);
      border-radius: mixins.rem(6);
      transition: background-color .3s ease;
      margin-right: mixins.rem(10);

      &:hover {
        background-color: var(--header-link-button-background-color);
      }
    }
  }

  .Icon {
    min-width: mixins.rem(32);

    svg {
      width: mixins.rem(32);
      height: mixins.rem(32);
    }
  }


}