@use '@/styles/mixins' as mixins;

.NoteWrapper {
  margin: mixins.rem(25) auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: mixins.rem(15);
  background-color: #32334C;
  border-radius: mixins.rem(10);
  border: 1px solid #3A3C56;
  color: #fffef8;
  padding: mixins.rem(15) mixins.rem(20);

  &.Alert {
    background-color: #4c3232;
    border-color: #85372b;
  }

  .Note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: mixins.rem(10);
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
  }

  .Icon {
    min-width: mixins.rem(32);

    svg {
      width: mixins.rem(32);
      height: mixins.rem(32);
    }
  }
}