@use '@/styles/mixins' as mixins;

.TimeItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: mixins.rem(4);
  visibility: hidden;

  @media (min-width: mixins.rem(440)) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: mixins.rem(512)) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: mixins.rem(640)) {
    grid-template-columns: repeat(7, 1fr);
  }

  @media (min-width: mixins.rem(768)) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: mixins.rem(1024)) {
    grid-template-columns: repeat(9, 1fr);
  }

  @media (hover: hover) {
    &:hover > :not(:hover) {
      opacity: 0.75;
    }
  }
}

.TimeItem {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: mixins.rem(12);
  margin: 0;
  border-radius: mixins.rem(6);
  width: 100%;
  font-size: mixins.rem(24);
  color: var(--schedule-board-departure-past-color);
  background-color: var(--schedule-board-departure-past-background-color);
  user-select: none;
  transition: all .2s ease;
  box-shadow: 0 mixins.rem(2) mixins.rem(4) var(--schedule-board-departure-shadow-color);
  visibility: visible;
  position: relative;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 mixins.rem(5) mixins.rem(8) var(--schedule-board-departure-hover-shadow-color);
  }

  .Favorite {
    top: mixins.rem(-8);
    right: mixins.rem(-5);
    position: absolute;
    width: mixins.rem(32);
    height: mixins.rem(32);
    z-index: 1;

    svg {
      fill: var(--schedule-board-departure-favorite-icon-color);
      stroke: var(--schedule-board-departure-favorite-icon-border-color);
    }
  }

  &.Past {
    color: var(--schedule-board-departure-past-color);
    background-color: var(--schedule-board-departure-past-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC55' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &.VerySoon {
    color: var(--schedule-board-departure-very-soon-color);
    background-color: var(--schedule-board-departure-very-soon-background-color);
  }

  &.Soon {
    color: var(--schedule-board-departure-soon-color);
    background-color: var(--schedule-board-departure-soon-background-color);
  }

  &.Upcoming {
    color: var(--schedule-board-departure-upcoming-color);
    background-color: var(--schedule-board-departure-upcoming-background-color);
  }

  &.UpcomingLater {
    color: var(--schedule-board-departure-upcoming-later-color);
    background-color: var(--schedule-board-departure-upcoming-later-background-color);
  }

  &.Cancelled {
    color: var(--schedule-board-departure-cancelled-color);
    background-color: var(--schedule-board-departure-cancelled-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

}